FRONTEND_URL=
DATABASE_URL=
JWT_SECRET=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
MAIL_USER=
MAIL_PASS=

# CẤU HÌNH MOMO TEST
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_ENDPOINT=
MOMO_RETURN_URL=


# CẤU HÌNH Payment VNpay
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL=

# Link trả về sau khi thanh toán xong
VNP_RETURN_URL=